# Visual Studio Code
.vscode/*
!.vscode/settings.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
src/CodeAssessment.Application/bin/
src/CodeAssessment.Application/obj/
src/CodeAssessment.Domain/bin/
src/CodeAssessment.Domain/obj/
src/CodeAssessment.Infrastucture/bin/
src/CodeAssessment.Infrastucture/obj/
src/CodeAssessment.API/bin/
src/CodeAssessment.API/obj/